name: doctor_mongodb
services:
  mongo:
    image: mongo:7.0
    container_name: doctor_mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: doc_db
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    networks:
      - doctor-network
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  mongo_data:
    driver: local
  mongo_config:
    driver: local

networks:
  doctor-network:
    driver: bridge