@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

* {
  font-family: 'Outfit', sans-serif;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
